@{
    ViewData["Title"] = "Admin panel";
}

<h1>Admin panel</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Index</a>
