@{
    ViewData["Title"] = "Demo page";
}

<h2>Students page</h2>

<p>ViewBag.Now: @(((DateTime)ViewBag.Now).ToLocalTime())</p>
<p>ViewData["Message"]: @ViewData["Message"]</p>
<p>TempData["TempData"]: @TempData["TempData"]</p>