#weather{
    width: 640px;
    height: 420px;
}

#weather-item {
    background: url("../Images/d_w.jpg") no-repeat;
    text-align: center;
}

#temp {
    font-size: 90px;
    color: white;
}

#other-block{
    background-color: rgba(204,204,204, .5);
}

#other-block div{
    display: inline-block;
    text-align: center;
    width: 210px;
    height: 100px;
    line-height: 50px;
}

span {
    display: block;
}

h2{
    text-align: center;
}