<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Lab4_newFrame">
		<title>Lab4</title>
		<size>758,473</size>
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuOpen" variable="MenuItem3" member="yes">
					<label>Open</label>
				</object>
				<object class="wxMenuItem" name="idMenuSaveAs" variable="MenuItem4" member="yes">
					<label>SaveAs</label>
					<accel>Ctrl-s</accel>
				</object>
				<object class="wxMenuItem" name="idMenuClose" variable="MenuItem5" member="yes">
					<label>Close</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuExport" variable="MenuItem6" member="yes">
					<label>Export</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Exit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>&amp;View</label>
				<object class="wxMenuItem" name="idMenuTableData" variable="MenuItem7" member="yes">
					<label>TableData</label>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuGraphicData" variable="MenuItem8" member="yes">
					<label>GraphicData</label>
					<radio>1</radio>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>&amp;Processing</label>
				<object class="wxMenuItem" name="idMenuGenerateData" variable="MenuItem9" member="yes">
					<label>Generate Data</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
